.bubble {
   margin: 5px 0;
    padding: 5px 10px;
    word-break: break-word;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.3;
    width: fit-content;
}


.align-right {
    align-self: flex-end;
    background-color: #007BFF;
    color: #fff;
    margin-right: auto;
    }
    
.align-left {
        align-self: flex-start;
        background-color: #DDFBC6;
        color: #000;
        margin-left: auto;
    }

